[flake8]
ignore=
    ; Comparison to True should be if cond is True, but == might be overloaded: np.where(arr == True)
    E712,
    ; Break before binary operators
    W503
    ; Lines are too long
    ; E501,

max-line-length=79
